* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.profilecard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.profile_body {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  border-radius: 40px;
  width: 380px;
  height: 550px;
}
.cardimg {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border-start-start-radius: 40px;
  border-start-end-radius: 40px;
}
.cardimg img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
}

.cardbody {
  /* background-color: red; */
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.person_name {
  padding: 1.3rem 0 0.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.person_name h2 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 0.2rem 0;
}
.person_name span {
  font-size: 14px;
  color: rgb(165, 165, 165);
}

.social_media {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  margin: -1rem;
  font-size: 20px;
}
.body_content {
  width: 78%;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  word-break: keep-all;
  text-align: center;
  margin: 1rem;
}
.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  /* background-color: rebeccapurple; */
}
.buttons button {
  width: 130px;
  padding: 10px;
  font-size: 16px;
  border-radius: 40px;
  border: 1px solid gray;
  outline: none;
  color: white;
}
.buttons button:first-child {
  background-color: orange;
}
.buttons button:nth-child(2) {
  color: gray;
}
